body {
    height: 1500px;
}

header {
    text-align: center;
    font-family: cursive;
    font-size: 50px;
    background-color: aliceblue;
}

.burger, .pizza, .fries, .chips {
    display: inline-block;
    margin: 30px 30px;
    width: 600px;
    height: 400px;
}

#burger_img, #pizza_img{
    padding-top: 30px;
    padding-left: 50px;
    width:500px;
}

#chips_img {
    width: 450px;
    padding-top: 30px;
    padding-left: 75px;
}

#fries_img{
    width: 450px;
    padding-top: 30px;
    padding-left: 75px;
}

.burger:hover, .pizza:hover, .fries:hover, .chips:hover {
    background-color: lightblue;
}

.pizza, .fries {
    float: right;
}

.burger:hover button{
    transition: 0.5s;
    transform: translateY(-30px);
    opacity: 0.8;
}

.pizza:hover button{
    transition: 0.5s;
    transform: translateY(-30px);
    opacity: 0.8;
}

.fries:hover button{
    transition: 0.5s;
    transform: translateY(-30px);
    opacity: 0.8;
}

.chips:hover #button{
    transition: 0.5s;
    transform: translateY(-30px);
    opacity: 0.8;
}

button {
    width: 500px;
    text-align: center;
    font-size: 20px;
    margin-left: 50px;
    opacity: 0;
}

.dropdown {
    margin-top: 35%;
    position: fixed;
}

.dropdown_button {
    background-color: cadetblue;
    width: 130px;
    padding: 10px 30px;
    font-size: 20px;
    position: relative;
    cursor:pointer;
}

.dropdown:hover .menu{
    display:block;
}

.dropdown:hover .dropdown_button{
    background-color: black;
    color: white;
}

.menu:hover{
    background-color: gray;
}

.menu {
    display: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    /* position: fixed; */
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 156.5px;
    text-decoration: none;
    font-family: cursive;
    transition: 0.5s;
}

#home:hover {
    transition: 0.5s;
    background: #03e9f4;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

#cart:hover {
    transition: 0.5s;
    background: #cd7d40;
    box-shadow: 0 0 5px #cd7d40,
                0 0 25px #cd7d40,
                0 0 50px #cd7d40,
                0 0 200px #cd7d40;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

#about:hover {
    transition: 0.5s;
    background: #ffafcc;
    box-shadow: 0 0 5px #ffafcc,
                0 0 25px #ffafcc,
                0 0 50px #ffafcc,
                0 0 200px #ffafcc;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

#news:hover {
    transition: 0.5s;
    background: #6a994e;
    box-shadow: 0 0 5px #6a994e,
                0 0 25px #6a994e,
                0 0 50px #6a994e,
                0 0 200px #6a994e;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

a:nth-child(1){
    filter: hue-rotate(270deg);
}

a:nth-child(2){
    filter: hue-rotate(110deg);
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.cart {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #333;
    color: white;
    padding: 10px;
    font-family: cursive;
    width: 20%;
    transition: 0.5s;
}

.cart h2 {
    margin-bottom: 10px;
}